/* Nav Bar CSS */

#bernal{
    Width:500px;
    height:300px;
}
/* Header CSS */



/* Section CSS */



/* About Section CSS */
#about{
    border:solid;
    background-color: #c0c0c0;
}


/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */


