/* Nav Bar CSS */

#bernal{
    Width:350px;
    height:200px;
    border-radius: 50%;
    display: block;
    margin: auto;
    
}
/* Header CSS */



/* Section CSS */



/* About Section CSS */
#about{
    border:solid;
    background-color: #c0c0c0;
    text-align:center;
    margin:auto;
}


/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */


